.c-label {
    font-size: 12px;
    color:gray;
}

.c-separator {
    height: 1px;
    background-color: gray;
    margin-top: 8px;
    margin-bottom: 8px;
    width: max;
}

.c-header {
    font-size: 20px;
    opacity: 0.65;
}