<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kategorie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kategorie</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--
  <ion-button expand="full" (click)="loadData()">Načíst data</ion-button>

  <ion-card *ngIf="savedData">
    <ion-card-header>
      <ion-card-title>Uložená data</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ savedData }}
    </ion-card-content>
  </ion-card>
  -->

  

</ion-content>
