<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kategorie Receptů
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kategorie Receptů</ion-title>
    </ion-toolbar>
  </ion-header>

  <span *ngIf="recipeCount != 0">
    <ion-card>
      <ion-card-content>
        <ion-chip *ngFor="let tag of tags"
          (click)="toggleTag(tag)"
          [color]="selectedTags.includes(tag) ? 'primary' : 'medium'">
          <ion-label style="font-size: 16px;">{{ tag }}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  
    <div class="c-separator"></div>
    <h2 class="c-header">Filtrované recepty:</h2>
  
    <span *ngIf="filteredRecipes.length > 0">
      <ion-list style="background-color: transparent; padding-top: 0px;">
        <ion-card *ngFor="let recipe of filteredRecipes" [routerLink]="['/recipe-details', recipe.id]">
          <ion-card-header>
            <ion-card-title>{{ recipe.name }}</ion-card-title>
            <ion-card-subtitle>{{ recipe.description }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-list>
    </span>

    <span *ngIf="filteredRecipes.length === 0">
      <br>
      <p class="c-label">Nebyly nalezeny žádné recepty odpovídající zvoleným kritériím.</p>
    </span>
    
    
  </span>

  <span *ngIf="recipeCount === 0">
    <br>
    <p class="c-label">Dosud nebyly vytvořeny žádné recepty.</p>
  </span>
  

  

</ion-content>
