.c-separator {
    margin: auto;
    height: 1px;
    background-color: gray;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

.c-header {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 20px;
    opacity: 0.65;
}