<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1 - testik
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Uložení dat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">Zadejte text k uložení</ion-label>
    <ion-input [(ngModel)]="dataToSave" placeholder="Vložte text..."></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="saveData()">Uložit data</ion-button>
</ion-content>
