<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Existující Recepty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Existující</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    show-clear-button="focus" 
    show-cancel-button="focus"
    [(ngModel)]="searchTerm" 
    (ionInput)="filterRecipes()" 
    [debounce]="200"
    color="light"
    placeholder="Vyhledat Recepty">
  </ion-searchbar>

  <div class="c-separator"></div>

  <ion-list style="background-color: transparent; padding-top: 0px;">
    <ion-card *ngFor="let recipe of filteredRecipes">
      <div class="c-icon-header">
        <ion-icon
        name="star-outline"
        color="warning"
        [name]="recipe.isFavorite ? 'star' : 'star-outline'"
        (click)="toggleFavorite(recipe, $event)"
        ></ion-icon>
      </div>
      <ion-card-header [routerLink]="['/recipe-details', recipe.id]">
        <ion-card-title>{{ recipe.name }}</ion-card-title>
        <ion-card-subtitle>{{ recipe.description }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-text *ngIf="recipes.length === 0">
    <p class="c-label">Dosud nebyly vytvořeny žádné recepty.</p>
  </ion-text>

  <ion-text *ngIf="filteredRecipes.length === 0 && recipes.length > 0">
    <p class="c-label">Žádné recepty nenalezeny.</p>
  </ion-text>

</ion-content>
