<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tvorba Receptu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vytvořit</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="width: 95%; margin: auto;">

    <h2 class="c-header">Vytvořit recept: </h2>
    <p class="c-label">*Pole s hvězdičkami jsou povinná</p>

    <ion-input color="primary" label="*Název" label-placement="floating" fill="solid" placeholder="Bramborový nákyp" [(ngModel)]="name" required></ion-input>

    <br>

    <ion-input color="primary" label="Štítky" label-placement="floating" fill="solid" placeholder="Vejce, Mléko, Pečivo," [(ngModel)]="tags"></ion-input>

    <br>

    <ion-textarea label="*Popis" labelPlacement="floating" fill="solid" placeholder="Je to takové a makové..." [autoGrow]="true" [(ngModel)]="description" required></ion-textarea>

    <br>

    <ion-textarea label="Ingredience" label-placement="floating" fill="solid" placeholder="4 vejce,1/2 litrů mléka, Chleba, 6 plátků sýra" [(ngModel)]="ingredients"></ion-textarea>

    <p class="c-label">*Jednotlivé ingredience lze rozdělit pomocí čárek</p>

    <ion-textarea label="Kroky" label-placement="floating" fill="solid" placeholder="Nakrájet cibuli na kostičky, Zalít mlékem, Nechat péct 45 minut" [(ngModel)]="steps"></ion-textarea>

    <p class="c-label">*Jednotlivé kroky lze rozdělit pomocí čárek</p>

    <ion-button expand="block" (click)="addRecipe()">Přidat Recept</ion-button>
    <p class="c-label">*Po vytvoření receptu k němu lze přidat i obrázky</p>
  </div>

  <div class="c-separator"></div>
  <br>

  <div style="width: 95%; margin: auto;">

    <h2 class="c-header">Nahrát recept: </h2>

    <br>

    <ion-textarea label="*Kód receptu" [autoGrow]="true" label-placement="floating" fill="solid" placeholder="Sem vložte kód receptu" [(ngModel)]="recipeCode"></ion-textarea>

    <br>

    <ion-button expand="full" (click)="importRecipe()">Nahrát recept</ion-button>

  </div>

  <br>

</ion-content>
