<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tvorba Receptu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vytvořit</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>

  <div style="width: 95%;margin: auto;">

    <ion-input color="primary" label="Název" label-placement="floating" fill="outline" placeholder="Bramborový nákyp" [(ngModel)]="name" required></ion-input>

    <br>

    <ion-textarea label="Popis" labelPlacement="floating" fill="outline" placeholder="Je to takové a makové..." [autoGrow]="true" [(ngModel)]="description" required></ion-textarea>

    <br>

    <ion-textarea label="Ingredience" label-placement="floating" fill="outline" placeholder="4 vejce,1/2 litrů mléka, Chleba, 6 plátků sýra" [(ngModel)]="ingredients" required></ion-textarea>

    <p class="c-label">*Jednotlivé ingredience lze rozdělit pomocí čárek</p>

    <ion-textarea label="Kroky" label-placement="floating" fill="outline" placeholder="Nakrájet cibuli na kostičky, Zalít mlékem, Nechat péct 45 minut" [(ngModel)]="steps" required></ion-textarea>

    <p class="c-label">*Jednotlivé kroky lze rozdělit pomocí čárek</p>

    <ion-button expand="block" (click)="addRecipe()">Přidat Recept</ion-button>
  </div>
</ion-content>
