<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail Receptu</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" (click)="reloadPage()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="recipe">
  <ion-card>
    <div class="c-icon-header">
      <ion-icon *ngIf="isDevMode" name="rocket" (click)="downloadDev()"></ion-icon>
      &nbsp;
      <ion-icon name="trash-outline" (click)="deleteRecipe()"></ion-icon>
      &nbsp;
      <ion-icon name="create-outline" (click)="editRecipe()"></ion-icon>
      &nbsp;
      <ion-icon name="download-outline" (click)="shareRecipeFile()"></ion-icon>
      &nbsp;
      <ion-icon name="clipboard-outline" (click)="shareRecipeClipboard()"></ion-icon>
      &nbsp;
      <ion-icon name="share-outline" (click)="shareRecipeNative()"></ion-icon>
    </div>
    <ion-card-header>
      <ion-card-title style="width: 65%;">{{ recipe.name }}</ion-card-title>
      <ion-card-subtitle *ngIf="recipe.createdAt" style="font-size: 10.5px;">Vytvořeno: {{ recipe.createdAt | date: 'd.MM.yyyy, HH:mm' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <!-- Time -->
      <span *ngIf="recipe.prepareTime">
        <p><strong>Čas přípravy:</strong> {{ recipe.prepareTime }}</p>
      </span>

      <!-- Tagy -->
      <span *ngIf="recipe.tags.length > 0 && recipe.tags[0] !== ''"> <!-- jen check pro prázdný tag -->
        <strong>Tagy:</strong>
        <!-- Chip zápis
        <ion-chip *ngFor="let tag of recipe.tags">
          <ion-label>{{ tag }}</ion-label>
        </ion-chip>
        -->
        <span *ngFor="let tag of recipe.tags">
          <ion-label> {{ tag }},</ion-label>
          </span>
      </span>


      <p><strong>Popis:</strong> {{ recipe.description }}</p>

      <span *ngIf="
      recipe.ingredients.length > 0 && recipe.ingredients[0] !== '' || 
      recipe.steps.length > 0 && recipe.steps[0] !== '' 
      ">
        <div class="c-separator"></div>
      </span>
      

      <!-- Ingredience -->
      <span *ngIf="recipe.ingredients.length > 0 && recipe.ingredients[0] !== ''"> <!-- jen check pro prázdnou ingredienci -->
        <p><strong>Ingredience:</strong></p>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
        </ul>
      </span>

      <!-- Kroky -->
      <span *ngIf="recipe.steps.length > 0 && recipe.steps[0] !== ''"> <!-- jen check pro prázdný krok -->
        <p><strong>Kroky přípravy:</strong></p>
        <ol>
          <li *ngFor="let step of recipe.steps">{{ step }}</li>
        </ol>
      </span>

      <!-- <ion-button expand="full" color="tertiary" (click)="shareRecipe()">Sdílet recept</ion-button> -->

      <span *ngIf="
      recipe.photos.length > 0
      ">
        <div class="c-separator"></div>
        <p><strong>Fotky:</strong></p>
        <ion-grid>
          <ion-row *ngFor="let photo of recipe.photos; let i = index">
            <ion-col size="12">
              <ion-img [src]="photo.imageUrl"></ion-img>
              <ion-label><i>{{ photo.caption }}</i></ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </span>

    </ion-card-content>
  </ion-card>
</ion-content>