<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail Receptu</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="recipe">
  <ion-card>
    <div class="c-icon-header">
      <ion-icon name="trash" color="danger" (click)="deleteRecipe()"></ion-icon>
      &nbsp;
      <ion-icon name="create" color="primary" (click)="editRecipe()"></ion-icon>
    </div>
    <ion-card-header>
      <ion-card-title style="width: 73%;">{{ recipe.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Popis:</strong> {{ recipe.description }}</p>

      <div class="c-separator"></div>

      <p><strong>Ingredience:</strong></p>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>
      <p><strong>Kroky přípravy:</strong></p>
      <ol>
        <li *ngFor="let step of recipe.steps">{{ step }}</li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>