.c-separator {
    height: 1px;
    background-color: gray;
    margin-top: 8px;
    margin-bottom: 8px;
}

.c-icon-header {
    right: 0;
    margin: 8px;
    position: absolute;
    z-index: 14;
}

.c-icon-header ion-icon {
    font-size: 32px;
};